<header class="header">
  <div routerLinkActive="active"><a routerLink="home">Home</a></div>
  <div routerLinkActive="active"><a routerLink="users">Users</a></div>
  <div routerLinkActive="active"><a routerLink="posts">Posts</a></div>
  <div routerLinkActive="active"><a routerLink="comments">Comments</a></div>
  <div routerLinkActive="active"><a routerLink="albums">Albums</a></div>
  <div routerLinkActive="active"><a routerLink="photos">Photos</a></div>
  <div routerLinkActive="active"><a routerLink="todos">To Dos</a></div>
</header>
